@import "tailwindcss";

body {
  background-color: #E2E6DF; 
  color: #1F2937;
  font-family: var(--font-roboto), sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bodoni), serif;
}